@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@500;700&display=swap');

body {
    background-image: url(/background.svg);
    background-size: 10%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Gantari';
    font-weight: 500;
    margin: 5px;
    color: white
}

h1 { font-size: 50px; }
h2 { font-size: 40px; }

button {
    height: 35px;

    font-family: 'Gantari';
    font-size: large;
    color: rgb(255, 255, 255);

    border: 2px solid #FFF;
    
    background-color: rgba(0, 0, 0, 0.623);
    
    cursor: pointer;

    transition: 0.4s;

    margin: 3px;
    padding: 0 10;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.4s;
}

input {
    font-family: 'Gantari';
    font-size: 12pt;
    background-color: black;
    color: white;
    border: 1px solid white;
}

hr {
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    border: 0;
    margin: 20px;
}

.noselect {
    -moz-user-select: none;
    user-select: none;
}

.box {
    background: rgba(0, 0, 0, 0.623);
    display: flex;
    flex-direction: column;

    margin: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 3px;
}

.banner-box {
    display: flex;
    justify-content: center;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    text-align: center;
    flex-grow: 1;
    width: 320px;
}

.cool-text {
    background: linear-gradient(90deg,
    red, orange, yellow, lime, aqua, rgb(0, 72, 255), rgb(255, 0, 255), red);
    background-size: 50% 100%;
    animation: rainbow-slide 6s linear infinite;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes rainbow-slide {
  from { background-position: 0% 0%; }
  to   { background-position: -300% 0%; }
}

.shake {
    animation: animshake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes animshake {
    0% {transform: translate(2px, 1px);}
    10% {transform: translate(1px, -1px);}
    20% {transform: translate(2px, 0px);}
    30% {transform: translate(-1px, -2px);}
    40% {transform: translate(1px, 1px);}
    50% {transform: translate(0px, 2px);}
    60% {transform: translate(-1px, -1px);}
    70% {transform: translate(1px, 2px);}
    80% {transform: translate(2px, -1px);}
    90% {transform: translate(0px, 0px);}
    100% {transform: translate(-1px, 2px);}
}

.music {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.music audio {
    background: none;
    margin: 0 10px;
    width: 500px;
}